################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SGLNU.DAL/obj/Debug/net6.0/ref/SGLNU.DAL.dll
/SGLNU.DAL/obj/Debug/net6.0/refint/SGLNU.DAL.dll
/SGLNU.DAL/bin/Debug/net6.0
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.pdb
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.genruntimeconfig.cache
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.GeneratedMSBuildEditorConfig.editorconfig
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.dll
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.csproj.FileListAbsolute.txt
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.csproj.CoreCompileInputs.cache
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.csproj.BuildWithSkipAnalyzers
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.csproj.AssemblyReference.cache
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.assets.cache
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.AssemblyInfoInputs.cache
/SGLNU.DAL/obj/Debug/net6.0/SGLNU.DAL.AssemblyInfo.cs
/SGLNU.DAL/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/SGLNU.DAL/obj/SGLNU.DAL.csproj.nuget.g.targets
/SGLNU.DAL/obj/SGLNU.DAL.csproj.nuget.g.props
/SGLNU.DAL/obj/SGLNU.DAL.csproj.nuget.dgspec.json
/SGLNU.DAL/obj/project.nuget.cache
/SGLNU.DAL/obj/project.assets.json
/SGLNU.BLL/bin/Debug/net6.0/SGLNU.DAL.pdb
/SGLNU.BLL/bin/Debug/net6.0/SGLNU.DAL.dll
/SGLNU.BLL/bin/Debug/net6.0/SGLNU.BLL.pdb
/SGLNU.BLL/bin/Debug/net6.0/SGLNU.BLL.dll
/SGLNU.BLL/bin/Debug/net6.0/SGLNU.BLL.deps.json
/SGLNU.Web/bin/Debug/net6.0/Connected Services/AzureAD/ConnectedService.json
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/SGLNU.Web/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/SGLNU.Web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/SGLNU.Web/bin/Debug/net6.0/SGLNU.Web.pdb
/SGLNU.Web/bin/Debug/net6.0/SGLNU.Web.exe
/SGLNU.Web/bin/Debug/net6.0/SGLNU.Web.dll
/SGLNU.Web/bin/Debug/net6.0/SGLNU.Web.deps.json
/SGLNU.Web/bin/Debug/net6.0/SGLNU.DAL.pdb
/SGLNU.Web/bin/Debug/net6.0/SGLNU.DAL.dll
/SGLNU.Web/bin/Debug/net6.0/SGLNU.BLL.pdb
/SGLNU.Web/bin/Debug/net6.0/SGLNU.BLL.dll
/SGLNU.Web/bin/Debug/net6.0/SendGrid.dll
/SGLNU.Web/bin/Debug/net6.0/Newtonsoft.Json.dll
/SGLNU.Web/bin/Debug/net6.0/MimeKit.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Identity.Web.UI.Views.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Identity.Web.UI.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Identity.Web.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.UI.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/SGLNU.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/SGLNU.Web/bin/Debug/net6.0/MailKit.dll
/SGLNU.Web/bin/Debug/net6.0/libman.json
/SGLNU.Web/bin/Debug/net6.0/Humanizer.dll
/SGLNU.Web/bin/Debug/net6.0/CloudinaryDotNet.dll
/SGLNU.Web/bin/Debug/net6.0/BouncyCastle.Crypto.dll
/SGLNU.Web/bin/Debug/net6.0/Azure.Security.KeyVault.Secrets.dll
/SGLNU.Web/bin/Debug/net6.0/Azure.Security.KeyVault.Certificates.dll
/SGLNU.Web/bin/Debug/net6.0/Azure.Identity.dll
/SGLNU.Web/bin/Debug/net6.0/Azure.Core.dll
/SGLNU.Web/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/SGLNU.Web/bin/Debug/net6.0/AutoMapper.dll
/SGLNU.Web/bin/Debug/net6.0/appsettings.json
/SGLNU.Web/bin/Debug/net6.0/appsettings.Development.json
/SGLNU.Web/bin/Debug/net6.0/System.Windows.Extensions.dll
/SGLNU.Web/bin/Debug/net6.0/System.Security.Permissions.dll
/SGLNU.Web/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/SGLNU.Web/bin/Debug/net6.0/System.Runtime.Caching.dll
/SGLNU.Web/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/SGLNU.Web/bin/Debug/net6.0/System.Drawing.Common.dll
/SGLNU.Web/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/SGLNU.Web/bin/Debug/net6.0/StarkbankEcdsa.dll
/SGLNU.Web/bin/Debug/net6.0/SGLNU.Web.staticwebassets.runtime.json
/SGLNU.Web/bin/Debug/net6.0/SGLNU.Web.runtimeconfig.json
/.vs
/SGLNU.BLL/obj
/SGLNU.Web/obj
/SGLNU.Web.sln.DotSettings.user
/SGLNU.Tests/bin/Debug/net6.0
/SGLNU.Tests/obj
