<!--=============== HOME ===============-->
@{
    Layout = "_Layout";
}
<section class="services section container" id="services">
    <h2 class="section__title">Структура Самоврядування ЛНУ</h2>
    <div>
        <div class="row">
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/head.jpeg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Бережненко Ангеліна Сергіївна</h1>
                        <p class="card__description">Очільниця cтудентського уряду</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/Zast1.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Тереховська Андріана Романівна</h1>
                        <p class="card__description">Заступниця голови cтудентського уряду з проєктної роботи</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/Zast2.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Дика Марта Андріївна</h1>
                        <p class="card__description">Заступниця голови cтудентського уряду з проєктної роботи</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/secretary.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Симко Вікторія Романівна</h1>
                        <p class="card__description">Секретар cтудентського уряду</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/biology.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кульчицька Анжеліка Назарівна</h1>
                        <p class="card__description">Очільниця cтудентської ради біологічного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/geo.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Штефанюк Валерія Олександрівна</h1>
                        <p class="card__description">в.о Голови Студентської ради географічного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/geology.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Павленко Анастасія Олександрівна</h1>
                        <p class="card__description">Очільниця студентської ради геологічного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/female_avatar.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Хильченко Маргарита Олександрівна</h1>
                        <p class="card__description">Очільниця cтудентської ради економічного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/hist.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Горак Оксана Романівна</h1>
                        <p class="card__description">Очільниця cтудентської ради історичного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/math.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Ласюта Марія Олегівна</h1>
                        <p class="card__description">Очільниця студентської ради механіко-математичного факультету </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/electronics.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Шевчук Роман Ігорович</h1>
                        <p class="card__description">Очільник студентської ради факультету електроніки та компютерних технологій</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/journ.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Матвієнко Вероніка Ярославівна</h1>
                        <p class="card__description">Очільниця студентської ради факультету журналістики</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/foreignlang.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Сайкевич Діана Володимирівна</h1>
                        <p class="card__description">Очільниця студентської ради факультету іноземних мов</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/cult.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Килинич Аліна Русланівна</h1>
                        <p class="card__description">Очільниця студентської ради факультету культури та мистецтв</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/mizhnar.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Пархомчук Анатолій Володимирович</h1>
                        <p class="card__description">Очільник студентської ради факультету міжнародних відносин</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/pedosv.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Шевчук Каріна</h1>
                        <p class="card__description">В.о. Голови факультету педагогічної освіти</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/ufb.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кормило Марія Романівна</h1>
                        <p class="card__description">Очільниця студентської ради факультету управління фінансами та бізнесу</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/male_avatar.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Онищенко Орест Андрійович</h1>
                        <p class="card__description">в.о. голови студентської ради факультету прикладної математики та інформатики</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/fiz.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кигим Владислав Андрійович</h1>
                        <p class="card__description">Очільник студентської ради фізичного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/philos.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Тарас Остап Баллда</h1>
                        <p class="card__description">В.о. голови студентської ради філосовського факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/chem.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Гринечко Наталія Василівна</h1>
                        <p class="card__description">Очільниця студентської ради хімічного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/law.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Бельська Соломія Іванівна</h1>
                        <p class="card__description">Очільниця студентської ради юридичного факультету</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/female_avatar.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">-</h1>
                        <p class="card__description">Очільник/очільниця студентської ради педагогічного коледжу</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/press.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Полозок Тетяна Сергіївна</h1>
                        <p class="card__description">Голова пресцентру студентського уряду</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/projcommitet.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Михалюк Ірина Вікторівна</h1>
                        <p class="card__description">Голова проєктного комітету cтудентського уряду</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
