<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <script src="https://kit.fontawesome.com/b47b2dac61.js" crossorigin="anonymous"></script>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/css/styles.css">

    <title>SgLNU</title>
</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a asp-controller="Home" asp-action="Index"><img class="nav_logo_img" src="~/img/logo.png" /></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Головна</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">Про нас</a>
                    </li>
                    <li class="nav__item">
                        <a href="#structure" class="nav__link">Структура</a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">Документація</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Контакти</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav__item">
                            <a asp-action="Votings" asp-controller="Voting" class="nav__link">Голосування</a>
                        </li>
                        <li class="nav__item">
                            <a asp-action="Dashboard" asp-controller="Dashboard" class="nav__link">Кабінет <h6>@User.Identities.FirstOrDefault().Claims.FirstOrDefault(c => c.Type == "name").Value</h6></a>
                        </li>
                    }
                    <i class="fas fa-moon change-theme" id="theme-button"></i>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="fas fa-grip-horizontal"></i>
            </div>

        </nav>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__section footer__container container grid">

            <div class="footer__content">
                <h3 class="footer__title">Карта Сайту</h3>
                <ul class="footer__links">
                    <li><a href="#home" class="footer__link">Головна </a></li>
                    <li><a href="#about" class="footer__link">Про Нас</a></li>
                    <li><a href="#structure" class="footer__link">Структура</a></li>
                    <li><a href="#services" class="footer__link">Документація</a></li>
                    <li><a href="#contact" class="footer__link">Контакти</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>

            <div class="footer__social">
                <a href="https://www.facebook.com/su.lnu.edu.ua" class="footer__social-link"><i class="fab fa-facebook-square"></i></a>
                <a href="https://t.me/su_lnu" class="footer__social-link"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/su_lnu/" class="footer__social-link"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>

    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="fas fa-arrow-circle-up"></i>
    </a>

    <!--=============== MAIN JS ===============-->
    <script src="~/js/main.js"></script>
</body>
</html>