@{
    Layout = "_Layout";
}
<section class="container section emailSended__container">
    <div class="modal-content">
        <h4 class="modal-title">Повідомлення успішно надіслано!</h4>
        <a asp-controller="Home" asp-action="Index" class="button popup submit__button">На головну :)</a>
    </div>
</section>


<!--Modal Body End-->  